<h1>Content</h1>
<app-create-content (newTownEvent)="addTownItem($event)"></app-create-content>
<form>
  <input type="text" name="search" id="search" [(ngModel)]="searchTerm">
  <button (click)="onSearchSubmit()">Search</button>
  <br>
  <span *ngIf="searchResult.success == true" class="search-success-msg">Content with that title exists!</span>
  <span *ngIf="searchResult.success == false" class="search-fail-msg">No content with that title exists...</span>
</form>

<h2>Towns</h2>
<div class="content-list-wrapper">
  <app-content-card *ngFor="let filteredItem of contentList | filterContent:'town'" [content]="filteredItem" ></app-content-card>
</div>

<h2>Communities</h2>
<div class="content-list-wrapper">
  <app-content-card *ngFor="let filteredItem of contentList | filterContent:'community'" [content]="filteredItem"></app-content-card>
</div>

<h2>Villages</h2>
<div class="content-list-wrapper">
  <app-content-card *ngFor="let filteredItem of contentList | filterContent:'village'" [content]="filteredItem"></app-content-card>
</div>

<h2>Other</h2>
<div class="content-list-wrapper">
  <app-content-card *ngFor="let filteredItem of contentList | filterContent" [content]="filteredItem"></app-content-card>
</div>
