<h1>Content</h1>
<form>
  <input type="text" name="search" id="search" [(ngModel)]="searchTerm">
  <button (click)="onSearchSubmit()">Search</button>
  <br>
  <span *ngIf="SearchResult.success == true" class="search-success-msg">Content with that title exists!</span>
  <span *ngIf="SearchResult.success == false" class="search-fail-msg">No content with that title exists...</span>
</form>


<h2>Towns</h2>
<app-content-card [contentList]="ContentList | filterContent:'town'"></app-content-card>

<h2>Communities</h2>
<app-content-card [contentList]="ContentList | filterContent:'community'"></app-content-card>

<h2>Villages</h2>
<app-content-card [contentList]="ContentList | filterContent:'village'"></app-content-card>

<h2>Other</h2>
<app-content-card [contentList]="ContentList | filterContent"></app-content-card>
