<form>
  <label for="id">ID: <input type="number" name="id" id="id" [(ngModel)]="newTownItem.id" /></label>
  <label for="title">Title: <input type="text" name="title" id="title" [(ngModel)]="newTownItem.title"> </label>
  <label for="description">Description: <input type="text" name="description" id="description" [(ngModel)]="newTownItem.description"></label>
  <label for="creator">Creator: <input type="text" name="creator" id="creator" [(ngModel)]="newTownItem.creator"></label>
  <label for="imgURL">Image: <input type="text" name="imgURL" id="imgURL" [(ngModel)]="newTownItem.imgURL"></label>
  <label for="type">Type: <input type="text" name="type" id="type" [(ngModel)]="newTownItem.type"></label>
  <label for="tags">Tags: <input type="text" name="tags" id="tags" [(ngModel)]="newTownItem.tags"></label>
  <button (click)="submitHandler()" >Create</button>
  <span *ngIf="currentError" class="form-error-msg">{{ currentError }}</span>
</form>
