form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3em 0;
  width: 25vw;
}

input {
  display: block;
  padding: 0.25em;
  margin: 0 0 1em 0;
}

.form-error-msg {
  font-weight: bold;
  color: red;
}
